<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="car">
            <div class="card-header text-center">
                SignIn
            </div>
            <div class="card-body">
                <form (submit)="signin()">
                    <div class="form-group">
                        <input type="email" [(ngModel)]="user.username" name="username" class="form-control" placeholder="Email" required autofocus>
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">SignIn</button>
                </form>
                
            </div>
        </div>
    </div>
</div>