<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MEFCINC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mk-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/ordernes" routerActive="active">Registro</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" >
          <ng-container *ngIf="!loggedIn; else loggedIn"> 
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/signup" routerActive="active">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/signin" routerActive="active">Signin</a>
            </li>
          </ng-container>
          <ng-template #loggedIn>
            <li class="nav-item">
              <!-- <a class="nav-link" (click)="logout()">Logout</a> -->
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container p-5">
  <router-outlet></router-outlet>
</div>
 